.modal-dialog
	.modal-content
		.modal-header
			button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
			h4.modal-title Legal
	.modal-body
		h2 Music

		ul
			li Oldschool, PureBells, CC-BY

		h2 Sounds

		ul
			li Position, Christohp Schulz. Based on Bomb Explosion 1, Mike Koenig, Attribution 3.0
			li Zap, Christoph Schulz. Based on Fizzle Sound, Mike Koenig, Attribution 3.0

		h2 Libraries

		ul
			li TODO: jQuery, THREE.js, XXX

	.modal-footer
		button.btn.btn-default(type='button', data-dismiss='modal') Close
