.stats
	position absolute
	bottom 0
	right 0
	z-index 9001

	.logic
		#fps
			background-color #400 !important
		#fpsText
			color #F00 !important
		#fpsGraph
			background-color #F00 !important
			span
				background-color #700 !important
